.profile-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .profile-image-big{
        width: 400px;
        height: 400px;
        border-radius: 50%;

        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 768px){
    .profile-container{
        flex-direction: column;
        gap: 20px;
        .profile-image-big{
            width: 200px;
            height: 200px;
        }
    }
    .hero-bg-2 {
        height: 120vh;
    }

    .profile-image-big{
        width: 300px !important;
        height: 300px !important;
    }
    
}