
.nopage{
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.nf-top-container{
    margin: 0 auto;
}
.main-image{
    height: 93.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/404Peaky.jpg");
}
.main-content{
    align-items: center;

    a{
       text-align: center;
    }
}
.nf-all{
    text-align: center;
}

.button-nf{
    color: black !important;
}